@page "/visualize/SinglyLinkedList"
@using DataStructuresVisualizer.DataStructures.Enums.SinglyLinkedList;
@using DataStructuresVisualizer.DataStructures
@using DataStructuresVisualizer.DataStructures.SinglyLinkedListFile;
@using DataStructuresVisualizer.Snapshot;
@inject IJSRuntime JSRuntime

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<div id="linked-list" class="container">
    <h3>Singly Linked List Operations</h3>

    <div class="operation-selection">
        <select @bind="selectedAction">
            <option value="insertAtPosition">Insert At Position</option>
            <option value="prepend">Prepend</option>
            <option value="append">Append</option>
            <option value="search">Search</option>
            <option value="remove">Remove</option>
            <option value="create">Create</option>
        </select>
        @switch (selectedAction)
        {
            case "insertAtPosition":
                <div class="insertion-fields">
                    <label for="inputValue">Input Value</label>
                    <input type="number" id="inputValue" @bind="inputValue" placeholder="Enter Value" />

                    <label for="insertPosition">Insert Position</label>
                    <input type="number" id="insertPosition" @bind="insertPosition" placeholder="Enter Position" />

                    <button class="custom-button" @onclick="PerformInsertion" disabled="@isOperationInProgress">Insert</button>
                </div>
                break;
            case "prepend":
                <div class="insertion-fields">
                    <label for="inputValue">Input Value</label>
                    <input type="number" id="inputValue" @bind="inputValue" placeholder="Enter Value" />

                    <button class="custom-button" @onclick="PrependValue" disabled="@isOperationInProgress">Prepend</button>
                </div>
                break;
            case "append":
                <div class="insertion-fields">
                    <label for="inputValue">Input Value</label>
                    <input type="number" id="inputValue" @bind="inputValue" placeholder="Enter Value" />

                    <button class="custom-button" @onclick="AppendValue" disabled="@isOperationInProgress">Append</button>
                </div>
                break;
            case "search":
                <div class="insertion-fields">
                    <label for="inputValue">Input Value</label>
                    <input type="number" id="inputValue" @bind="inputValue" placeholder="Enter Value" />

                    <button class="custom-button" @onclick="SearchValue" disabled="@isOperationInProgress">Search</button>
                </div>
                break;
            case "remove":
                <div class="insertion-fields">
                    <label for="inputValue">Input Index</label>
                    <input type="number" id="inputValue" @bind="inputValue" placeholder="Enter Value" />

                    <button class="custom-button" @onclick="RemoveValue" disabled="@isOperationInProgress">Remove</button>
                </div>
                break;
            case "create":
                <div class="create-fields">
                    <label for="inputValue">Number of Nodes</label>
                    <input type="number" id="inputValue" @bind="inputValue" placeholder="Enter Value" />

                    <button class="custom-button" @onclick="CreateSinglyLinkedList" disabled="@isOperationInProgress">Create List</button>
                </div>
                break;
            default:
                break;
        }
    </div>

    <div id="sll-display">
        @* Render the linked list here *@
    </div>

    <CodeDisplay CodeLines="@currentCode" />

    <ProgressBar MaxValue="@snapshots.Count" CurrentValue="@currentSnapshotIndex" OnValueChanged="RewindToSnapshot" />


    @if (!string.IsNullOrEmpty(messageOutput))
    {
        <div class="notification-container">
            <span class="notification-message">@messageOutput</span>
            <button class="notification-close" @onclick="ClearMessage">✖</button>
        </div>
    }
</div>

@code {
    private CodeDisplay? CodeDisplay;
    private SinglyLinkedList<int> linkedList = new SinglyLinkedList<int>();
    private Random rand = new Random();
    private string _selectedAction = "create";
    private int insertPosition;
    private int inputValue;
    private string messageOutput = "";
    private IEnumerable<string> currentCode = Enumerable.Empty<string>();
    private string? currentOperation = " ";
    private bool isOperationInProgress = false; // Flag to track operation state
    private List<Snapshot> snapshots = new();
    private int currentSnapshotIndex = 0;
    private bool isStack= false;

    VisualizationTiming timing = new VisualizationTiming
        {
            HighlightDelay = 1000,
            NodeMovementDelay = 1000,
            JavaScriptDelay = 1000
        };

    public string selectedAction
    {
        get => _selectedAction;
        set
        {
            if (_selectedAction != value)
            {
                _selectedAction = value;
                currentCode = GetCodeByOperation(value);
                StateHasChanged();
            }
        }
    }

    protected override void OnInitialized()
    {
        linkedList.Add(rand.Next(1, 30));
        linkedList.Add(rand.Next(1, 30));
        linkedList.Add(rand.Next(1, 30));
    }

    // private void CaptureSnapshot()
    // {
    //     var nodes = linkedList.Nodes.Select(node => new NodeState(node.Id, node.Value, node.X, node.Y, node.FillColor)).ToList();
    //     var links = linkedList.Links.Select(link => new LinkState(link.Id, link.StartX, link.StartY, link.EndX, link.EndY)).ToList();

    //     Guid? highlightedNodeId = linkedList.HighlightedNode?.Id;
    //     Guid? highlightedLinkId = linkedList.HighlightedLink?.Id;

    //     var snapshot = new Snapshot(nodes, links, highlightedNodeId, highlightedLinkId);
    //     snapshots.Add(snapshot);
    // }


    private void RewindToSnapshot(int snapshotIndex)
    {
        currentSnapshotIndex = snapshotIndex;
        RenderSnapshot(snapshots[snapshotIndex]);
    }

    private void RenderSnapshot(Snapshot snapshot)
    {
        // Render the linked list based on the snapshot state
    }

    private IEnumerable<string> GetCodeByOperation(string operation)
    {
        Dictionary<string, IEnumerable<string>> codeSnippets = new Dictionary<string, IEnumerable<string>>
            {
                ["search"] = new List<string>
                {
                    "if empty, return NOT_FOUND",
                    "index = 0, tmp = head",
                    "while (tmp.item != v)",
                    "index++, tmp = tmp.next,\n if tmp == null,",
                    "    return NOT_FOUND",
                    "return index"
                },
                ["prepend"] = new List<string>
                {
                    "Vertex vtx = new Vertex(v)",
                    "vtx.next = head",
                    "head = vtx"
                },
                ["append"] = new List<string>
                {
                    "Vertex vtx = new Vertex(v)",
                    "tail.next = vtx",
                    "tail = vtx"
                },
                ["insertAtPosition"] = new List<string>
                {
                    "Vertex pre = head",
                    "for (k = 0; k<i-1; k++)",
                    "  pre = pre.next",
                    "Vertex aft = pre.next",
                    "Vertex vtx = new Vertex(v)",
                    "vtx.next = aft",
                    "pre.next = vtx"
                },
                ["remove"] = new List<string>
                {
                    "if empty, do nothing",
                    "Vertex pre = head",
                    "for (k = 0; k<i-1; k++)",
                    "  pre = pre.next",
                    "Vertex del = pre.next, after = del.next",
                    "pre.next = after",
                    "delete del"
                }
            };

        if (codeSnippets.TryGetValue(operation, out var code))
        {
            return code;
        }
        return new List<string> { "Select an operation to view the code." };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Convert the linked list to a format suitable for JavaScript
            var linkedListData = ConvertListToJavaScriptFormat(linkedList);
            await JSRuntime.InvokeVoidAsync("drawLinkedList", linkedListData, false);
        }
    }

    private async Task PerformInsertion()
    {
        if (isOperationInProgress) return;  // Prevent multiple operations

        if (linkedList.IsFull())
        {
            messageOutput = $"The list has reached its maximum capacity of {linkedList.maxCapacity} nodes. Cannot insert a new node.";
            return;
        }

        if (insertPosition <= 0 || insertPosition > linkedList.Count - 1)
        {
            messageOutput = $"The position to insert must be greater than 0 and no bigger than {linkedList.Count - 1}";
            return;
        }

        isOperationInProgress = true;
        StateHasChanged();
        try
        {
            linkedList.HighlightRequested += HandleHighlightRequest; // Subscribe to highlight events

            var newNode = new SinglyLinkedListNode<int>(inputValue);
            var insertedValue = ConvertNodeToJavaScriptFormat(newNode);

            var insertTask = linkedList.InsertAt(insertPosition, newNode);
            var jsTask = JSRuntime.InvokeVoidAsync("insertAtInSLL", insertedValue, insertPosition, timing).AsTask();

            await Task.WhenAll(insertTask, jsTask); // Run both tasks concurrently
        }
        catch (InvalidOperationException ex)
        {
            messageOutput = ex.Message;
        }
        finally
        {
            linkedList.HighlightRequested -= HandleHighlightRequest;
            isOperationInProgress = false; // Reset flag after operation
            StateHasChanged();
        }
    }

    private async Task PrependValue()
    {
        if (isOperationInProgress) return; // Prevent multiple operations

        if (linkedList.IsFull())
        {
            messageOutput = $"The list has reached its maximum capacity of {linkedList.maxCapacity} nodes. Cannot insert a new node.";
            return;
        }

        isOperationInProgress = true;
        StateHasChanged();
        try
        {
            linkedList.HighlightRequested += HandleHighlightRequest; // Subscribe to highlight events

            var head = new SinglyLinkedListNode<int>(inputValue);
            var headForJSInsertion = ConvertNodeToJavaScriptFormat(head);

            var prependTask = linkedList.Prepend(head);
            var jsTask = JSRuntime.InvokeVoidAsync("insertHeadInSll", headForJSInsertion, timing, isStack = false).AsTask();

            await Task.WhenAll(prependTask, jsTask); // Run both tasks concurrently
        }
        catch (InvalidOperationException ex)
        {
            messageOutput = ex.Message;
        }
        finally
        {
            linkedList.HighlightRequested -= HandleHighlightRequest; // Clean up event subscription
            isOperationInProgress = false; // Reset flag after operation
            StateHasChanged();
        }
    }

    private async Task AppendValue()
    {
        if (isOperationInProgress) return; // Prevent multiple operations

        if (linkedList.IsFull())
        {
            messageOutput = $"The list has reached its maximum capacity of {linkedList.maxCapacity} nodes. Cannot insert a new node.";
            return;
        }

        isOperationInProgress = true;
        StateHasChanged();
        try
        {
            linkedList.HighlightRequested += HandleHighlightRequest; // Subscribe to highlight events

            var tail = new SinglyLinkedListNode<int>(inputValue);
            var tailToInsert = ConvertNodeToJavaScriptFormat(tail);

            var appendTask = linkedList.AppendAsync(tail);
            var jsTask = JSRuntime.InvokeVoidAsync("insertTailInSll", tailToInsert, timing).AsTask();

            await Task.WhenAll(appendTask, jsTask); // Run both tasks concurrently
        }
        catch (InvalidOperationException ex)
        {
            messageOutput = ex.Message;
        }
        finally
        {
            linkedList.HighlightRequested -= HandleHighlightRequest; // Clean up event subscription
            isOperationInProgress = false; // Reset flag after operation
            StateHasChanged();
        }
    }

    private async Task SearchValue()
    {
        if (isOperationInProgress) return; // Prevent multiple operations
        isOperationInProgress = true;
        StateHasChanged();
        try
        {
            linkedList.HighlightRequested += HandleHighlightRequest; // Subscribe to highlight events

            var searchTask = linkedList.SearchByValue(inputValue);
            var jsTask = JSRuntime.InvokeVoidAsync("searchValueInSLL", inputValue, timing).AsTask();

            await Task.WhenAll(searchTask, jsTask); // Run both tasks concurrently
        }
        finally
        {
            linkedList.HighlightRequested -= HandleHighlightRequest; // Clean up event subscription
            isOperationInProgress = false; // Reset flag after operation
            StateHasChanged();
        }
    }

    private async Task RemoveValue()
    {
        if (isOperationInProgress) return; // Prevent multiple operations

        if (inputValue >= linkedList.Count)
        {
            messageOutput = $"The index {inputValue} you are trying to delete does not exist. Please enter a smaller value.";
            return;
        }
        isOperationInProgress = true;
        StateHasChanged();
        try
        {
            linkedList.HighlightRequested += HandleHighlightRequest; // Subscribe to highlight events

            var nodeToRemove = linkedList.FindNodeByIndex(inputValue);
            var nodeToBeDeleted = ConvertNodeToJavaScriptFormat(nodeToRemove);

            var removeTask = linkedList.DeleteAt(inputValue);
            var jsTask = JSRuntime.InvokeVoidAsync("removeValueInSll", nodeToBeDeleted, timing).AsTask();
             
            await Task.WhenAll(removeTask, jsTask); // Run both tasks concurrently
        }
        finally
        {
            linkedList.HighlightRequested -= HandleHighlightRequest; // Clean up event subscription
            isOperationInProgress = false; // Reset flag after operation
            StateHasChanged();
        }
    }

    private async Task CreateSinglyLinkedList()
    {
        if (isOperationInProgress) return; // Prevent multiple operations

        if (inputValue > linkedList.maxCapacity)
        {
            messageOutput = $"The singly linked list can have a maximum number of {linkedList.maxCapacity} nodes. Please enter a smaller value.";
            return;
        }
        isOperationInProgress = true;
        StateHasChanged();
        try
        {
            linkedList = new SinglyLinkedList<int>();


            for (int i = 0; i < inputValue; i++)
            {
                linkedList.Add(rand.Next(1, 30));
            }

            await UpdateDisplay(linkedList);
            await InvokeAsync(StateHasChanged);
        }
        finally
        {
            isOperationInProgress = false; // Reset flag after operation
            StateHasChanged();
        }
    }

    private async Task HandleHighlightRequest(Enum step)
    {
        await JSRuntime.InvokeVoidAsync("highlightLine", step);
        await Task.Delay(timing.HighlightDelay);
    }

    private async Task UpdateDisplay(SinglyLinkedList<int> list)
    {
        var linkedListData = ConvertListToJavaScriptFormat(list);
        await JSRuntime.InvokeVoidAsync("drawLinkedList", linkedListData, false);
    }

    private object ConvertNodeToJavaScriptFormat(SinglyLinkedListNode<int> node)
    {
        return new
        {
            value = node._data,
            next = node.Next != null ? node.Next.Id : (Guid?)null,
            id = node.Id
        };
    }

    private List<object> ConvertListToJavaScriptFormat(SinglyLinkedList<int> list)
    {
        var nodes = new List<object>();
        var currentNode = list.Head;
        while (currentNode != null)
        {
            nodes.Add(new
            {
                value = currentNode._data,
                next = currentNode.Next != null ? currentNode.Next.Id : (Guid?)null,
                id = currentNode.Id
            });
            currentNode = currentNode.Next;
        }
        return nodes;
    }

    private void HighlightAllNodesOrDisplayMessage()
    {
        messageOutput = "The entered number is not in the singly linked list.";
    }

    private void ClearMessage()
    {
        messageOutput = "";
    }
}